input {
  rabbitmq {
    host => localhost
    queue => logs
  }

  file {
    path => "/tmp/logstash-file-inputter"
    type => "dummy-inputs"
  }
}

output {
  elasticsearch { host => localhost }
}
