input {
  lumberjack {
    # The port to listen on
    port => 5043

    # Set this to whatever you want.
    type => "logstash-forwardered"
  }

  file {
    path => "/tmp/logstash-file-inputter"
    type => "dummy-inputs"
  }
}

output {
  elasticsearch { host => localhost }
}
